
<%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle" placeholder="Title of the Post">
        <label>Description</label>
        <input class="form-control" type="text" name="postDescription" placeholder="In less than 100 words">
        <label>Post</label>
        <textarea class="form-control mdhtmlform-md" name="postBody" rows="5" cols="30" placeholder="Write In Markdown format"></textarea>
        <label>Authon</label>
        <input class="form-control" type="text" name="postAuthor" placeholder="Your name/anonymous">
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

<%- include("partials/footer"); -%>
